body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f8f9fa;
}

section{
    padding:80px 0;
}

.section-title{
    font-size:40px;
    font-weight:700;
    margin-bottom:20px;
}

.section-subtitle{
    color:#6c757d;
    margin-bottom:50px;
}

.btn-primary{
    padding:12px 30px;
}


/* ======================
   NAVBAR
====================== */

.navbar{

    padding:18px 0;

}

.navbar-brand{

    color:#003366 !important;

}

.nav-link{

    margin-left:20px;

    font-weight:500;

}

.nav-link:hover{

    color:#0056b3 !important;

}

.btn-primary{

    background:#0056b3;

    border:none;

}

.btn-primary:hover{

    background:#003f82;

}

/* ======================
   HERO SECTION
====================== */

.hero-section{

    padding:100px 0;

    background:#f8fbff;

}

.hero-tag{

    color:#0056b3;

    font-weight:600;

    text-transform:uppercase;

    letter-spacing:1px;

}

.hero-title{

    font-size:54px;

    font-weight:700;

    margin-top:20px;

    color:#003366;

}

.hero-text{

    margin-top:25px;

    font-size:18px;

    color:#666;

    line-height:1.8;

}

.hero-buttons{

    margin-top:40px;

}

.hero-section img{

    border-radius:15px;

}